# ===== Java =====
*.class

# ===== Maven =====
/target/
!.mvn/wrapper/maven-wrapper.jar

# ===== JavaFX =====
*.log

# ===== VS Code =====
.vscode/
!.vscode/extensions.json

# ===== OS =====
.DS_Store
Thumbs.db
